<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDUFEED</title>
    <link rel="stylesheet" href="./css/style.css">
          <!-- Material Sybols  -->
    <link rel="stylesheet"href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
  
    <nav class="menu">
        <div class="toggle">
            MENU
            <span class="material-symbols-outlined">
                menu
            </span>
        </div>
        <ul class="lista">
            <li class="links-list">
                <a href="#">
                    <span class="material-symbols-outlined">smartphone</span>
                    Materiais
                </a>
            </li>
            <li class="links-list">
                <a href="#">
                    <span class="material-symbols-outlined">quiz</span>
                    FAQ
                </a>
            </li>
            <li class="links-list">
                <a href="#">
                    <span class="material-symbols-outlined">contact_support</span>
                    CONTATO
                </a>
            </li>
            <li class="links-list">
                <a href="#">
                    <span class="material-symbols-outlined">class</span>
                    Alunos
                </a>
            </li>
        </ul>
    </nav>

    <main>
        <div class="title-natureza">
            <h1 class="title" id="natureza">EDUFEED</h1>
        </div>
        <div class="container">
            <div class="img-natureza">
                <ul class="list-natureza js-list">
                    <li class="imagens">
                        <img src="./img/Escola.jpg"alt="Foto">
                    </li>
                    <li class="imagens">
                        <img src="./img/download.jpg" alt="Foto">
                    </li>
                    <li class="imagens">
                        <img src="" alt="Foto">
                    </li>
                    <li class="imagens">
                        <img src="" alt="Foto">
                    </li>
                </ul>
            </div>
            <div class="main-text js-content">
                <section class="section-natureza active">
                    <h2">
                        <span class="material-symbols-outlined">
                        </span>O que somos?
                    </h2>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic, porro alias nesciunt quod pariatur quaerat repellendus vitae minima nam at amet totam modi. Tenetur placeat quia laudantium fuga blanditiis quis?
                    </p>
                    <p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, tempora numquam similique sunt quo odit vitae. Quo amet, fugit assumenda illum repudiandae rerum minus deserunt? Voluptas eveniet quo quisquam necessitatibus!
                    </p>
                    <p>

                    </p>
                </section>
                <section class="section-florestas">
                    <h2>
                        <span class="material-symbols-outlined">
                            Phone
                            </span>RELATOS:
                    </h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium quasi itaque commodi quos delectus, accusamus ratione laborum amet accusantium dolorum, a harum maxime laudantium. Quidem repellendus harum sunt saepe nam.</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam culpa quia totam, magnam expedita doloremque nostrum obcaecati voluptate molestiae? Ipsam asperiores quos vitae voluptate delectus quas numquam nesciunt accusantium officia.</p>
                </section>           
            </div>
        </div>
    
    </main>

    <section >
        <h1 class="title" id="faq">FAQ💬.......... </h1>


        <div class="faq-contanier">
            <div class="faq">
            <div class="pergunta">
                <p>
                    Por que é importante a utilização do app?
                </p>
                <span class="material-symbols-outlined">
                    stat_minus_1
                    </span>
                </div>
                
                <div class="resposta">
                    <p>Resposta...</p>
            </div>
            </div>
            <div class="faq">
                <div class="pergunta">
                    <p>
                        Quais são os benefícios?
                    </p>
                    <span class="material-symbols-outlined">
                        stat_minus_1
                        </span>
                    </div>
                    
                    <div class="resposta">
                        <p>Resposta...</p>
                    </div>    
                </div>
                <div class="faq">
                <div class="pergunta">
                    <p>
                        Indices de vínculos trabalhistas?
                    </p>
                    <span class="material-symbols-outlined">
                            stat_minus_1
                        </span>
                    </div> 
                </div>
        </section>
    <script src="./js/main.js"></script>

        
    <section class="contanto" id="contato">
        <h1 class="title">CONTATO 📞
        </h1>
        <div class="contato-content">
        <div class="mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3667.3150150949787!2d-46.8927102!3d-23.1951877!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cf2697ac7191fd%3A0x300031e85e07f9e8!2sEscola%20Senai%20Conde%20Alexandre%20Siciliano!5e0!3m2!1sen!2sbr!4v1690891701417!5m2!1sen!2sbr" width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="mapa-text"> 
            <p>Escola Senai Conde Alexandre Siciliano</p>
            <p>Telefone: (11) 4523-6400</p>
            <p>E-mail: senaijundiai@sp.senai.br</p>
        </div>

    </div>
    </section>
    
    <div class="footer">
        <footer >

            <p>© 2023 - Todos os direitos reservados</p>

        </footer>
    </div>
    <script type="module" src=".js/main.js"></script>
</body>
</html>